# macOS
.DS_Store

# Python virtual env
.venv/
venv/
env/
.env/
myenv/

# Python cache
__pycache__/
*.pyc

# Jupyter
*.ipynb
.ipynb_checkpoints/

# Data / outputs
*.npz
*.pdf

# uv
uv.lock

# project
.python-version
pyproject.toml